/* .fons{
    background: no-repeat;
    background-image: url('img/Group\ \(1\).png');
    background-position: center;
    margin-top: 200px;
} */


.fonsGroup{
    background: no-repeat;
    background-image: url('img/Group\ 49.png') ;
    background-size: contain;
}

.CardImg {
    width: 100%;
 }


.CardOne{

    background-image: url("./img/Group\ 42.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-left: 50px;
    margin-top: 50px;
}
.CardTwo{

    background-image: url("./img/Group\ 39.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.CardThree{

    background-image: url("./img/Group\ 40.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.CardFour{

    background-image: url("./img/Group\ 41.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.textCardOneP {
    position: absolute;
    color: #FFF;
font-family: Raleway-Bold;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 123.1%; /* 32.006px */
margin-top: 100px;
margin-left: 140px;
}

.textCardOneH {
    position: absolute;
    color: rgba(255, 255, 255, 0.90);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.1%; /* 20.927px */
margin-top: 145px;
margin-left: 140px;
}


.textCardTwoP {
    position: absolute;
    color: #FFF;
font-family: Raleway-Bold;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 123.1%; /* 32.006px */
margin-top: 100px;
margin-left: 80px;
}

.textCardTwoH {
    position: absolute;
    color: rgba(255, 255, 255, 0.90);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.1%; /* 20.927px */
margin-top: 145px;
margin-left: 80px;
}

.textCardThreeP {
    position: absolute;
    color: #FFF;
font-family: Raleway-Bold;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 123.1%; /* 32.006px */
margin-top: 100px;
margin-left: 80px;
}

.textCardThreeH {
    position: absolute;
    color: rgba(255, 255, 255, 0.90);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.1%; /* 20.927px */
margin-top: 145px;
margin-left: 80px;
}

.textCardFourP {
    position: absolute;
    color: #FFF;
font-family: Raleway-Bold;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 123.1%; /* 32.006px */
margin-top: 100px;
margin-left: 80px;
}

.textCardFourH {
    position: absolute;
    color: rgba(255, 255, 255, 0.90);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.1%; /* 20.927px */
margin-top: 145px;
margin-left: 80px;
}



.mainPromoText{

    text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.20);
font-family: Raleway-Bold;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: 110.6%; /* 60.83px */

background: linear-gradient(91deg, #B5FEEF 10.31%, #2EECC5 165.09%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.poragrafPromoText{
    margin-top: 26px;
    color: rgba(255, 255, 255, 0.65);
font-family: Raleway;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.mainTextOne{
    font-family: Raleway-Bold;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: normal;

background: linear-gradient(91deg, #FFF 10.31%, #FFF 165.09%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.mainTextTwo{
    font-family: Raleway-Bold;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    background: linear-gradient(91deg, #FF00E5 10.31%, #DB00FF 165.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.youtubeVideo{
    width: 560px;
    height: 315px;
}
@media only screen and (max-width: 1024px) {
    .mainTextOne{
        font-family: Raleway-Bold;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    background: linear-gradient(91deg, #FFF 10.31%, #FFF 165.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -200px;
    }
    .mainTextTwo{
        font-family: Raleway-Bold;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
        background: linear-gradient(91deg, #FF00E5 10.31%, #DB00FF 165.09%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .youtubeVideo{
        width: 340px;
        height: 180px;
    }
    .fonsGroup{
        display: none;
    }
    .Line{
        display: none
        ;
    }
    .mainPromoText{
        text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.20);
font-family: Raleway-Bold;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 110.6%; /* 60.83px */

background: linear-gradient(91deg, #B5FEEF 10.31%, #2EECC5 165.09%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
margin-top: -750px;
    }
    .poragrafPromoText{
        display: none;
    }
    .CardOne{

        background-image: url("./img/Group\ 42.png");
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        height: 379px;
        width: 379px;
        margin-left: -35px;
        margin-top: -875px;
    }

    .CardTwo{

        background-image: url("./img/Group\ 39.png");
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        height: 379px;
        width: 379px;
        margin-top: -800px;
        margin-left: -33px;
    }
    .CardThree{
    
        background-image: url("./img/Group\ 40.png");
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        height: 389px;
        width: 389px;
        margin-top: -490px;
        margin-left: -162px;
    }
    
    .CardFour{
    
        background-image: url("./img/Group\ 41.png");
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        height: 389px;
        width: 389px;
        margin-top: -180px;
        margin-left: -282px;
    }
    
    .textCardOneP {
        position: absolute;
        color: #FFF;
    font-family: Raleway-Bold;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.1%; /* 32.006px */
    margin-top: 105px;
    margin-left: 100px;
    }
    
    .textCardOneH {
        position: absolute;
        color: rgba(255, 255, 255, 0.90);
        font-family: Raleway;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 123.1%; /* 20.927px */
    margin-top: 145px;
    margin-left: 100px;
    width: 250px;
    }
    
    
    .textCardTwoP {
        position: absolute;
        color: #FFF;
    font-family: Raleway-Bold;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.1%; /* 32.006px */
    margin-top: 100px;
    margin-left: 80px;
    }
    
    .textCardTwoH {
        position: absolute;
        color: rgba(255, 255, 255, 0.90);
        font-family: Raleway;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 123.1%; /* 20.927px */
    margin-top: 145px;
    margin-left: 80px;
    }
    
    .textCardThreeP {
        position: absolute;
        color: #FFF;
    font-family: Raleway-Bold;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.1%; /* 32.006px */
    margin-top: 100px;
    margin-left: 80px;
    }
    
    .textCardThreeH {
        position: absolute;
        color: rgba(255, 255, 255, 0.90);
        font-family: Raleway;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 123.1%; /* 20.927px */
    margin-top: 145px;
    margin-left: 80px;
    }
    
    .textCardFourP {
        position: absolute;
        color: #FFF;
    font-family: Raleway-Bold;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.1%; /* 32.006px */
    margin-top: 100px;
    margin-left: 80px;
    }
    
    .textCardFourH {
        position: absolute;
        color: rgba(255, 255, 255, 0.90);
        font-family: Raleway;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 123.1%; /* 20.927px */
    margin-top: 145px;
    margin-left: 80px;
    }
}